// ----------- Colors ------------------
$eggshell-color: #F4F1DE;
$delft-blue-color: #3D405B;
$jet-color: #2D2D2D;
$brown-sugar-color: #BE6E46;



// ----------- Fonts -------------------
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;



// ----------- Device sizes ------------
$tablet-size: 768px;
$desktop-size: 1280px;
